.cluster-container {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: #FAFAF8;
}
  
/* .navigation {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #285582;
    width: 220px;
    height: 100vh;
    border-radius: 15px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
  } */
