.customContainer {
    display: flex;
    width: 100vw;
    height: 96vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 10px;
  }

.customMetricsContainer {
    padding: 20px;
    height: 96vh;
    width: 80vw;
}

