body {
  background-color: #08102f;
}

.learnK8s {
  display: flex;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerA {
  flex: 0 0 60%;
  background-color: #91abee;
  color: #393e46;
  padding: 20px;
  border: 2px solid #393e46;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.cluster,
.master-node {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerB {
  flex: 0 0 18%;
  background-color: #91abee;
  color: #393e46;
  padding: 20px;
  border: 2px solid #393e46;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.containerC {
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #393e46;
  padding-left: 20px;
  background-color: #5c85ee;
}

.worker-node {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
  background-color: #5c85ee;
}

.cluster {
  width: 100%;
}

.containerD {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
  padding: 10px;
}

.api-server,
.scheduler,
.etcd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #393e46;
  border-radius: 20px;
  padding: 10px;
  background-color: #44eee1;
}

.controller-manager {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #393e46;
  border-radius: 20px;
  padding: 10px;
  background-color: #44eee1;
}

.containerE {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border: none;
  margin-top: 27px;
}

.containerG {
  flex: 1;
  border: 2px solid #393e46;
  border-radius: 20px;
  padding: 20px;
  background-color: #5c85ee; 
}

.containerF {
  display: grid;
  grid-template-rows: auto auto; 
  grid-template-columns: auto auto; 
  grid-auto-rows: 1fr; 
  grid-auto-columns: 1fr; 
  gap: 10px; 
  border: none;
  padding: 10px;
  margin: 10px;
}

.kubelet,
.kube-proxy {
  border: 2px solid #393e46;
  border-radius: 20px;
  padding: 20px;
  background-color: #44eee1; 
}

.pod-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 10px;
  border: 2px solid #393e46;
  border-radius: 20px;
  padding: 20px;
  background-color: #ebfd8a;
}

.container {
  border: 2px solid #393e46;
  border-radius: 20px;
  background-color: #e99ee4;
}

.container-text {
  padding-left: 15px;
}

.learnK8s {
  display: flex;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerA:hover,
.containerC:hover,
.master-node:hover,
.worker-node:hover,
.cluster:hover,
.containerD:hover,
.api-server:hover,
.scheduler:hover,
.controller-manager:hover,
.etcd:hover,
.containerE:hover,
.containerF:hover,
.kubelet:hover,
.kube-proxy:hover,
.pod:hover {
  cursor: pointer; 
}
