.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('./assets/1.png');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #5585B4; 
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Consistent font */
}

.login-form {
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 350px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #142E4D; /* Dark color for the heading */
}

.login-form input {
  width: 93%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  background-color: #5585B4; /* Primary button color */
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #142E4D; /* Darker on hover */
}

.back-to-dashboard {
  text-align: center;
}

.back-to-dashboard a {
  color: #5585B4;
  text-decoration: none;
}

.back-to-dashboard a:hover {
  text-decoration: underline;
}
