body {
  background-color: #08102f;
  max-width: 100vw;
  overflow-x: hidden;
}

.mainDashboardContainer {
  height: 90vh;
  display: flex;
  align-self: center;
  margin-right: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #6ca9e5;
  width: 220px;
  height: 100vh;
  border-radius: 15px;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}

.nav-top-item {
  display: flex;
  align-self: center;
  font-size: 30px;
  font-weight: bold;
  padding: 1px;
  margin-bottom: 50px;
  color: #fafaf8;
  padding-left: 70px;
  position: relative;
}

.nav-top-item::before {
  content: '';
  display: block;
  width: 60px; 
  height: 60px; 
  background-image: url('../public/assets/1.jpg');
  background-size: cover;
  border-radius: 50%; 
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* .nav-item {
  padding: 10px;
  margin-bottom: 10px;
  color: #f9f9ef;
  cursor: pointer;
  text-decoration: none;
  align-self: center;
} */

.navigation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(108, 169, 229, 0.3);
  height: 92vh;
  width: 220px;
}

.nav-item {
  width: 100%;
  border: 0px solid;
  border-radius: 15px;
  padding: 9px;
  align-self: center;
  margin-bottom: 30px;
  color: #f9f9ef;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  /* flex-grow: 0.5;  */
}

.nav-item:hover {
  background-color: rgba(108, 169, 229, 0.7);
}

.content {
  flex: 1;
  padding: 20px;
  background: #08102f;
  color: #f9f9ef;
}

.section-container {
  margin-left: 50px;
  width: 400px;
  height: 200px;
}

.iframe-row {
  display: flex;
  gap: 50px;
}

.iframe {
  border: 1px solid #7a7a78;
  border-radius: 10px;
}

.nav-greetings {
  padding: 1px;
  margin-bottom: 50px;
  color: #fafaf8;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
}

.nav-greetings::after {
  content: '';
  display: block;
  height: 3px;
  background-color: #f9f9ef;
  width: 100%;
  margin: 20px auto;
}

.nav-bottom {
  margin-top: auto;
  align-self: center;
}

/* clusterView */
/* .cluster-container {
  display: flex;
  width: 100%;
  height: 600px;
  border: 1px solid black;
} */

/* add cluster */
/* .addClusterContainer {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formContainer {
  padding: 40px;
  border-radius: 30px;
  border: 1px solid #ccc; 
} */
