.mainDashboardContainer {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #00adb5;
}

.nav-item {
  padding: 10px;
  margin-bottom: 10px;
  color: #393e46;
  cursor: pointer;
  text-decoration: none;
}

.content {
  flex: 1;
  padding: 20px;
  background: #08102f;
  color: #f9f9ef;
}

.section-container {
  margin-top: 20px;
}

.iframe-row {
  display: flex;
  gap: 100px;
}

iframe {
  border: 1px solid #7a7a78;
  border-radius: 10px;
}
